<div class="container">

 

  <div class="row justify-content-center ">
    <div class=" bodercalculadora ">
      <div class="row mb-2">
        <div class="col-9">
          <textarea rows="3" class="display" [ngClass]="{'fondo1':!error,'fondo2':error}">
            {{display}}
          </textarea>
        </div>
        <div class="col-3">
           <button class="btn btn-outline-primary calculado"(click)="mostrarPanel()">his</button>
          <button class="btn btn-outline-primary calculado" (click)="cambiar()">{{nombre}}</button>
         
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="AC()">AC</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="C()">C</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('.')">.</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="calc()">=</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('7')">7</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('8')">8</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('9')">9</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('/')">/</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('4')">4</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('5')">5</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('6')">6</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('*')">*</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('1')">1</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('2')">2</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('3')">3</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('-')">-</button>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('(')">(</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar(')')">)</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('0')">0</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('+')">+</button>
        </div>
      </div>
      <div class="row mb-2" *ngIf="tipo">
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('%')">%</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('π')">π</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('mod')">mod</button>
        </div>
        <div class="col-3">
          <button class="btn btn-outline-primary calculado" (click)="mostrar('+/-')">+/-</button>
        </div>
      </div>

    </div>
  </div>