.calculado{
    width: 100%;
    margin-bottom: 10px;
}

.display{
    width: 100%;
    border:1px solid rgb(34, 37, 35);
    border-radius: 23px;
    
    
    text-align: right;
    padding: 15px;
    padding-right: 5px;


}
.fondo1{
    background-color: rgb(30, 159, 219);
}
.fondo2{
    background-color: rgb(201, 192, 173);
}
.bodercalculadora{
    border: 3px solid black;
    border-radius: 20px;
    background-color: rgb(14, 13, 6);
}
.fondo3{
    background-color: rgb(30, 159, 219);
}
.fondo4{
    background-color: rgb(201, 192, 173);
}